<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contact">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="contact">Contact</h4>
			</div>
			<div class="modal-body">
				<div id="contact_form" class="form-group sidebar-form">
					<ul class="messages"></ul>
					<input class="" type="text" name="contact_name" id="contact_name" placeholder="Your Name"><br>
					<input class="" type="text" name="contact_email" id="contact_email" placeholder="* Your email address"><br>
					<textarea class="contact-body" id="contact_body" type="text" name="contact_message" placeholder="* Write your message here..."></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" id="contact_submit" class="btn btn-primary">Send</button>
			</div>
		</div>
	</div>
</div>
