<section class="module p-t-0 p-b-0" data-background="/images/cdn/{{image}}">

	<div class="container-fluid">

		<div class="row relative">

			<div class="col-sm-12 col-md-6 col-md-offset-6 col-bg">

				<h2 class="module-title font-alt">About</h2>

				<div class="module-subtitle font-inc">
					{{ emphasizedText }}
				</div>

					{{ text }}

				<ul class="social-list">
					<li><a href="#"><span class="icon-facebook"></span></a></li>
					<li><a href="#"><span class="icon-twitter"></span></a></li>
					<li><a href="#"><span class="icon-googleplus"></span></a></li>
				</ul>

			</div>

		</div>

	</div>

</section>
