<section id="home"
				 class="module-hero module-parallax module-fade module-full-height bg-dark-30"
				 data-background="/images/cdn/{{backgroundImage}}">

	<div class="hs-caption container">
		<div class="caption-content">
			<div class="hs-title-size-4 font-alt m-b-30">
				{{ title }}
			</div>
			<div class="hs-title-size-1 font-inc">
				{{ subTitle }}
			</div>
		</div>
	</div>

</section >
