<section class="module-small">

	<div class="container">

		<div class="row">

			<!-- MODULE TITLE -->
			<div class="col-sm-6">
				<h2 class="module-title font-alt">Hustle Excerpt</h2>
			</div>
			<!-- /MODULE TITLE -->

			<!-- BLOCKQUOTE -->
			<div class="col-sm-6">
				<blockquote class="font-serif align-right">
					There have<br />
					been exciting<br />
					<br />
					discoveries<br />
					in the field<br />
					<br />
					of me.<br />
					Many<br />
					<br />
					of which,<br />
					I have<br />
					<br />
					made<br />
					myself<br />
					<!-- <p class="font-inc font-uppercase">- Thomas Anderson</p> -->
				</blockquote>
			</div>
			<!-- /BLOCKQUOTE -->

		</div>

	</div>

</section>
