<section class="module module-header bg-dark bg-dark-50" data-background="/images/cdn/{{image}}" style="background-position-y: {{imageCenterY}}%">

	<div class="container">

		<!-- MODULE TITLE -->
		<div class="row">

			<div class="col-sm-6 col-sm-offset-3">

				<h1 class="module-title font-alt align-center">{{title}}</h1>

				<div class="module-subtitle font-inc align-center">
					{{subTitle}}
				</div>

			</div>

		</div>
		<!-- /MODULE TITLE -->

	</div>

</section >
