<div id="social" class="container">
	<div class="row multi-columns-row">

		<!-- CONTENT BOX -->
		<div class="col-sm-6 col-md-6 col-lg-6">
			<div class="content-box">
				<!--<div class="content-box-icon">-->
					<!--<span class="icon-camera"></span>-->
				<!--</div>-->
				<div class="content-box-title font-inc font-uppercase">
					Instagram
				</div>
				<div class="content-box-text">
					<ul id="works-grid" class="works-grid works-grid-masonry works-grid-2 works-hover-w" style="position: relative; height: 858.312px;">
					
						<div id="instafeed" class="instagram-feed">
						</div>
					</ul>
				</div>
			</div>
		</div>
		<!-- /CONTENT BOX -->

		<!-- CONTENT BOX -->
		<div class="col-sm-6 col-md-6 col-lg-6">
			<div class="content-box">
				<!--<div class="content-box-icon">-->
					<!--<span class="icon-video"></span>-->
				<!--</div>-->
				<div class="content-box-title font-inc font-uppercase">
					Twitter
				</div>
				<div class="content-box-text">
					<a class="twitter-timeline"
						 data-link-color="#ca6c78"
						 data-chrome="noheader"
						 data-tweet-limit="4"
						 href="https://twitter.com/DTomasMartinez">Tweets by DTomasMartinez</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</div>
		</div>
		<!-- /CONTENT BOX -->

	</div>
</div>
