{{> section-parallax title=heroTitle
										 subTitle=heroSubtitle
										 backgroundImage=heroImage
}}

<div class="wrapper">
	{{> section-testimonial header=excerptHeader
													content=excerptContent
	}}

	{{> section-image-left emphasizedText=bioEmphasizedText
												 text=bioContent
												 image=bioImage
	}}

</div>
